<?xml version="1.0" encoding="UTF-8"?>



<suite  name="Suite">

<listeners>
<listner class--name = "rahulShetty.TestComponents.Listeners"/>
</listeners>


	<test thread-count="5" name="subit Order Test">
		<classes>
			<class name="rahulShettyTest.test.submitOrderTest" />
		</classes>
	</test> <!-- Test -->
	
	
	<test thread-count="5" name="Error Validation Test">
		<classes>
			<class name="rahulShettyTest.test.ErrorValidationTest" />
		</classes>
	</test> <!-- Test -->

	


</suite> <!-- Suite -->

